<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TaskManager{% endblock %}</title>

    <!-- Bootstrap (CDN) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Собственные стили -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Иконка в браузере -->
    <link rel="shortcut icon" href="{% static 'img/taskicon.png' %}" />

</head>
<body class="bg-light">

    <!-- Верхняя панель -->
    {% include 'includes/navbar.html' %}

    <!-- Сообщения Django -->
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} mt-2">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <!-- Контент -->
    <main class="container mt-4">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    {% include 'includes/footer.html' %}
</body>
</html>
